<% @title =  "about | freebay" %>
<h1>about</h1>
<p class="staticpages">
Freebay it an online noticeboard where the community gets to play administrator. Just like in real life, you can get in contact with people that have something to offer, remove someone else's offer if its offensive (or a person is not responding) and even change existing offers (when someone made and obvious spelling error for example).
</p>
<p class="staticpages">
  There is little control on this site and we promote all types of offers, but we especially welcome people to gift to one another.
</p>
