<% @title = "create offer | freebay" %>

<% meta_tag :description, "give away unused items and offer a service for free!" %>
<% meta_tag :keywords, "giving,used,unwanted,help,people,share,recycle" %>

<h1>create offer - please click on 'tip' next to each field when posting your first offer</h1> 
<h2>take note of your offer id on the next page applying updated to your offer or deleting it</h2>
<%= render 'form' %>
<!--<a href="javascript:history.back()">cancel</a>-->
